Return the best ordering of the documents below given the query. Return only a python list of docID strings with a length of exactly {{ k }} strings.

Example output format: ["docID1",...,"dockID{{k}}"]

Query: {{ query }}

Documents:
{% for doc in doc_ids_and_texts %}
{{ doc.docID }}: {{ doc.text }}
{% endfor %}

