Return the best ordering of the documents below given the query. Answer only as a python list of docID strings of length {{ k }}.
Query: {{ query }}

Documents:
{% for doc in doc_ids_and_texts %}
{{ doc.docID }}: {{ doc.text }}
{% endfor %}

